---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

$serif-font-family: "Lora", serif;
$sans-serif-font-family: "Inter", sans-serif;
$monospace-font-family: Menlo, Consolas, Monaco, "Courier New", Courier,
  monospace;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $sans-serif-font-family;
$title-font-family: $serif-font-family;
$description-font-family: $serif-font-family;
$meta-font-family: $serif-font-family;

// // Define a custom font-face for Inter with slanted style
// @font-face {
//     font-family: 'Inter Slanted';
//     font-style: italic, oblique -10deg;
//     font-weight: 400;
//     src: local('Inter'), local('Inter-Regular');
//     font-synthesis: none;
// }

// Apply the font-family globally
body, h1, h2, h3, h4, h5, h6 {
    font-family: $sans-serif-font-family;
}

// // Slanted style for italic text
// em, i, .italic, .font-italic {
//     font-family: 'Inter Slanted', sans-serif;
//     font-style: oblique -10deg;
// }

// // Bold style
// strong, b, .bold, .font-bold {
//     font-family: 'Inter', sans-serif;
//     font-weight: 700;
// }

// // Bold and slanted style
// .bold-italic, .font-bold-italic {
//     font-family: 'Inter Slanted', sans-serif;
//     font-weight: 700; // Bold
//     font-style: oblique -10deg; // Slanted
// }
